# Ignore virtual environments
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Terraform state files
*.tfstate

# Ignore Terraform core directories
.terraform/

# Ignore any variable override files
*.tfvars

# Ignore plan files
*.tfplan

